.academiaLogo
{
	width: 150px;
	height: 30px;
}

.topBarCSS
{
	color: rgb(43,128,174);
}
.registeredCourses
{
	color: rgb(43,128,174);
}
.comment:nth-child(odd) {
    background-color: black;
    color: white;
}

.comment:nth-child(even) {
    background-color: #333333;
    color: white;

}

.hamburgerButton
{
	display: none;

}

.tabCustomCSS li:hover
{
	text-decoration: underline;
}


@media(max-width:767px) {
   .hamburgerButton
{
	display: inline;

}
}

