body {
    background-image: url("../img/bgLogin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center; 

    -webkit-background-style: cover;
	-moz-background-style: cover;
	-o-background-size: cover;
	background-style: cover;
	overflow-y: hidden;
	overflow-x: hidden;
}

.academiaLogo
{
	width: 850px;
	height: 230px;
	background-color: rgb(51,51,51);
	

}

.spacer35vh
{
	height: 35vh;
}

.spacer12vh
{
	height: 12vh;
}

.spacer100vh
{
	height: 100vh;
}
.spacer50vh
{
	height: 50vh;
}



img.center {
    display: block;
    margin: 0 auto;
}

.signInLogo
{
	width: 570px;
	height: 180px;
}

.contentsRow
{
	text-align: center;

}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	background: url("../img/bgLogin.png") no-repeat right right fixed;
}